{% extends 'base.html' %}
{% load static %}
{% block content %}

<ul>
    {% for todo_item in all_items %}
    <li>
        <blockquote>
            <p id="{{todo_item.id}}">{{todo_item.content}}</p>
        </blockquote>
        <div class="form-group">
            <form class="visible-inline" action="{% url 'delete-todo' todo_item.id %}" style="display: inline-block;"
                method="get">{% csrf_token%}

                <input type="submit" value="Delete" class="btn btn-danger">

                <a href="{% url 'update-todo' todo_item.id %}" class="btn btn-danger" target="_blank"
                    rel="noopener noreferrer">Update</a>

        </div>
        </form>
        <input type="button" class="btn btn-info" onclick="speak({{todo_item.id}})" value="readOut">
        {% endfor %}
</ul>
<div class="form-group">
    <form action="{% url 'add-todo' %}" method="post">{% csrf_token%}
        <input type="text" name="content">
        <input type="submit" value="Add" class="btn btn-success">
</div>
</form>
{% endblock content %}
